html, body {
    margin: 0px;
    padding-top:1%;
    padding-left:3%;
    padding-right:3%;
    background-color: rgb(252,252,252)
      }

header {
    margin-bottom: 2%;
    height: 220px;
    width: 100%;
    text-align: center;
    background-color: rgb(252,252,252)
}

#navbar {
    float:left;
    width:20%;
    background-color: rgb(49, 54, 59); 
    padding-bottom:1%;
    padding-right:1%;
    padding-top:1%;
    border-radius: 19px;
    margin-left:1%;
    margin-bottom: 2%;
}

#navbar a {
    color: rgb(255, 255, 255);
    line-height: 45px;
    text-decoration: none;
}

#navbar li::first-letter {
    background-color: rgb(252, 252, 252);
    color: rgb(49, 54, 59);
    font-size: 3em;
    padding:1px 16px;
    width: 100px;
    height: 100px;
    font-family: 'Ubuntu Mono';
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius:50px;
}

#navbar li {
color: #fff;
font-family: Sans-serif;
margin: 0 0 0 -76px;

}

#selected li::first-letter{
    background-color: rgb(61, 174, 253);
}

#content {
    padding: 1%;
    margin-left: 24%;
/*     margin-right: 5%; */
    background-color: rgb(232, 232, 232);
    border-radius: 9px;
    box-shadow: 0px 0px 0px 2pt rgb(49, 54, 59);
    
}
#content {
    font-family: sans-serif;
}

#footer {
    clear: left;
    border-top: 1px dashed rgb(221, 221, 221);
    margin-top: 2%;
}
#footer img {
    float: right;
    margin-top: 5px;
    margin-bottom: 2%;
}

#selected {
    text-decoration: underline;
}
